
<div class="jumbotron">
 <div class="container">
   <p><a class="btn btn-success btn-lg" href="#" role="button">Click Here </a></p>
   <p><%= image_tag("home/special", class: "img-responsive" ) %></p>
 </div>
</div>

    <p>Welcome! The date and time is <%= Time.now %></p>


  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2"><p><%= image_tag("logos/1", class:"img-responsive") %></p></div>
      <div class="col-lg-2"><p><%= image_tag("logos/2", class:"img-responsive") %></p></div>
      <div class="col-lg-2"><p><%= image_tag("logos/3", class:"img-responsive") %></p></div>
      <div class="col-lg-2"><p><%= image_tag("logos/4", class:"img-responsive") %></p></div>
      <div class="col-lg-2"><p><%= image_tag("logos/5", class:"img-responsive") %></p></div>
      <div class="col-lg-2"><p><%= image_tag("logos/6", class:"img-responsive") %></p></div>
     </div><!--end container-->
  </div><!--end container-->


   <h1>The Hippest Bike Shop in Florida</h1><br><br>
   
  <div class="container mt-3">
    <div class="row">
      <div class="col-sm-8">
        <div class="main-content"> <p><%= image_tag("bikejumbo1" ,class: "image" ) %></div>
      </div>

      <div class="col-sm-4">
            <!--Nested rows within a column-->
        <div class="row">
          <div class="col-12">
            <div class="sidebar-content"></div>
               <h2> Kid's Bike Trade Up Program</h2>
               <p>Purchase any new kid's bike from our store, and you can trade it up later to a larger size. Simply bring it back to our store within 3 years and we will give you up to 50%* of what you paid as a credit towards their next bike. 
               </p><button type="button" class="btn btn-primary">Click for details</button>
          </div>
        </div>     
    </div>    
 
               
    </div>      

        <br><br><br><br>
        
            <div class="col-sm-8" style="background-color:lightcyan;"></div>
                <h2>Rides and Events</h2>
                <p>Check this page often for updated listings of all types of cycling events in and around our area. Rides require, at minimum, an appropriate bike in good working order, water, and a helmet. We suggest a spare tube, energy food, maybe a little cash in case we stop, and your biggest smile! Many rides are held subject to weather. It's a good idea to confirm dates, time and any specific requirements, too. We'll see you out there — and have fun!</p>
            </div>
            
            
<div class="container">
  <h2>Our Weekly Group Rides</h2>
  <p>Join us and other bike clubs on one of these fun rides. Whether you are new to cycling or an old pro, there is a ride that's right for you.</p>                                                                                      
   <div class="table-responsive">          
   <table class="table">
    <thead>
      <tr>
        <th>Day</th>
        <th>Start Time</th>
        <th>Description</th>
        <th>Age Group</th>
        <th>Location</th>
     </tr>
    </thead>
    <tbody>
      <tr>
        <td>Monday</td>
        <td>6:30 a.m </td>
        <td>Riding to the Mountain View</td>
        <td>Adult</td>
        <td>Moutain Street Park</td>
     </tr>
    </tbody>
  </table>
  </div>
</div>
       
        
    
    