<% cache product do %>

<div class="col-xs-6 col-md-4">
   
  <div class="panel panel-primary">
     
    <%= link_to image_tag(product.image_url,class: "img-responsive"),product %>
    <strong><%= product.name %></strong>
    <p><%= product.colour %></p>
    <p><%= number_to_currency (product.price)%></p>
  <div class="rated" data-score="<%= product.average_rating %>"></div> 
     
     <div class="panel-body">
       <div id ="links">
     <% if signed_in? && current_user.admin? %>
        <%= link_to 'Details', product  %>
        <%= link_to 'Edit', edit_product_path(product )  %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }  %>
      <% end %>
  
       </div><!--end links-->
     </div><!--end panel-body--> 
  
  </div><!--end panel panel-primary-->   

</div><!--end column-->
<% end %>


